@tailwind base;
@tailwind components;
@tailwind utilities;

/* poppins fonts */
@font-face {
  font-family: 'poppinsBlack';
  src: url('/fonts/poppins/Poppins-Black.ttf');
}

@font-face {
  font-family: 'poppinsBlackItalic';
  src: url('/fonts/poppins/Poppins-BlackItalic.ttf');
}

@font-face {
  font-family: 'poppinsBold';
  src: url('/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'poppinsBoldItalic';
  src: url('/fonts/poppins/Poppins-BoldItalic.ttf');
}

@font-face {
  font-family: 'poppinsExtraBold';
  src: url('/fonts/poppins/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'poppinsExtraBoldItalic';
  src: url('/fonts/poppins/Poppins-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: 'poppinsExtraLight';
  src: url('/fonts/poppins/Poppins-ExtraLight.ttf');
}

@font-face {
  font-family: 'poppinsExtraLightItalic';
  src: url('/fonts/poppins/Poppins-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'poppinsItalic';
  src: url('/fonts/poppins/Poppins-Italic.ttf');
}

@font-face {
  font-family: 'poppinsLight';
  src: url('/fonts/poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: 'poppinsLightItalic';
  src: url('/fonts/poppins/Poppins-LightItalic.ttf');
}

@font-face {
  font-family: 'poppinsMedium';
  src: url('/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'poppinsMediumItalic';
  src: url('/fonts/poppins/Poppins-MediumItalic.ttf');
}

@font-face {
  font-family: 'poppinsRegular';
  src: url('/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'poppinsSemiBold';
  src: url('/fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'poppinsSemiBoldItalic';
  src: url('/fonts/poppins/Poppins-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'poppinsThin';
  src: url('/fonts/poppins/Poppins-Thin.ttf');
}

@font-face {
  font-family: 'poppinsThinItalic';
  src: url('/fonts/poppins/Poppins-ThinItalic.ttf');
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppinsRegular';
  scroll-behavior: smooth;
}

$primary-color: #4f46e5;

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

header {
  li {
    &:after {
      display: block;
      content: '';
      border-bottom: 2px solid $primary-color;
      transform: scaleX(0);
      transition: transform 0.5s ease-in-out;
    }
    &:hover {
      &:after {
        transform: scaleX(1);
      }
    }
  }
}

.active {
  color: $primary-color;
  border-bottom: 2px solid $primary-color;
}

.project_card {
  &:hover {
    .overlay {
      opacity: 0.8;
    }
    .content {
      opacity: 1;
    }
  }
}

.service_card {
  &:hover {
    h2 {
      &:after {
        background-color: #fff;
      }
    }
    svg {
      color: #fff;
    }
  }
  h2 {
    &:after {
      position: absolute;
      bottom: -10px;
      left: 0;
      right: 0;
      content: '';
      width: 30px;
      height: 2px;
      background-color: $primary-color;
      margin: 0 auto;
    }
  }
}

.type_writer_animated_text {
  span {
    font-family: 'poppinsExtraBold';
  }
}

@media (prefers-color-scheme: dark) {
}
